<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="/">
            <span class="align-middle">AMS-DASHBOARD</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Pages
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/navir">
                    <i class="align-middle" data-feather="folder"></i> <span class="align-middle">Navir</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/mesure/ref">
                    <i class="align-middle" data-feather="book-open"></i> <span class="align-middle">Navirs</span>
                </a>
            </li>

              <li class="sidebar-item">
                <a class="sidebar-link" href="/mesure/ref">
                    <i class="align-middle" data-feather="book-open"></i> <span class="align-middle">Magasins</span>
                </a>
            </li>


            <li class="sidebar-header">
                Paramètres
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/settings">
                    <i class="align-middle" data-feather="settings"></i> <span class="align-middle">Paramètres</span>
                </a>
            </li>

            {{!-- <li class="sidebar-item">
                <a class="sidebar-link" href="maps-google.html">
                    <i class="align-middle" data-feather="map"></i> <span class="align-middle">Maps</span>
                </a>
            </li> --}}
        </ul>
    </div>
</nav>